/* Copied from Pairfonts.com - Nunito for header and Roboto Mono for all other text */
#logo {
    font-family: 'Nunito', sans-serif;
    font-size: 100%;
    font-weight: 900;
    line-height: 1.2;
    float: left;
    color: black; 
  
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
  }
  
  body {
    font-family: 'Roboto Mono', sans-serif;
    font-size: 15px;
    font-weight: 400;
    line-height: 1.2;
    text-align: center;
  
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
  } 

  