/* Copied from Pairfonts.com - Nunito for header and Roboto Mono for all other text */
@import url("https://fonts.googleapis.com/css2?family=Nunito:wght@900&family=Roboto+Mono:wght@300&display=swap");


/* Body position */ 

body {
  /* Glöm inte att lägga till background color när du har fixat rätt bakrundsbild så kontrasten blir rätt! */
  text-align: center;
}

/* Logo */

#logo {
  height: 15px;
  font-family: nunito, sans-serif; 
  
} 

/* All other text font */ 

.other-text {
  font-family: 'Roboto Mono', sans-serif;
}
 

/* Hero image */ 

 #hero-image {
      height: 100%;
      width: 100%;
      background: url(../images/hero-image.jpg) no-repeat center center; 

  } 


/* Middle cirkel for play button all difficulty levels */

.middle-circkel {
  background-color: white;
}


/* Interface for easy */ 

#easy-interface, .middle-circkel {
  border-radius: 50%;
  width: 50px;
  height: 50px;
  display: inline-block;
  cursor: pointer;
}

/* Interface for medium */

#medium-interface, .middle-circkel {
  border-radius: 50%;
  width: 50px;
  height: 50px;
  display: inline-block;
  cursor: pointer;
}


/* Interface for hard */

#hard-interface, .middle-circkel {
  border-radius: 50%;
  width: 50px;
  height: 50px;
  display: inline-block;
  cursor: pointer;
} 


/* Hover and active for all difficulty levels */ 

#easy-interface:hover {
  box-shadow: inset 0px 0px 0px 3px black;
  box-sizing: border-box;
}

#medium-interface:hover {
  box-shadow: inset 0px 0px 0px 3px black;
  box-sizing: border-box;
}

#hard-interface:hover {
  box-shadow: inset 0px 0px 0px 3px black;
  box-sizing: border-box;
}



/* Four colors */ 

.easy-color-one {
  background-color: green;
  
} 

.easy-color-two {
  background-color: blue;
  
}

.easy-color-three {
  background-color: yellow;
  
}

.easy-color-four {
  background-color: red;
  
}


/* Six colors */

.medium-color-one {
  background-color: green;
  
} 

.medium-color-two {
  background-color: blue;
 
}

.medium-color-three {
  background-color: pink;
  
}

.medium-color-four {
  background-color: yellow;
  
} 

.medium-color-five {
  background-color: grey;
  
} 

.medium-color-six {
  background-color: red;
  
}


/* Eight colors */
  
.hard-color-one { 
  background-color: green;

}

.hard-color-two {
  background-color: blue;
  
}
 
.hard-color-three {
  background-color: brown;
 
}

.hard-color-four {
  background-color: pink;
 
}

.hard-color-five {
  background-color: yellow;
  
}

.hard-color-six {
  background-color: purple;
 
}

.hard-color-seven {
  background-color: grey;
 
}

.hard-color-eight {
  background-color: red;
  
}
















